body {
  font-size: 13px;
  line-height: 1.23077;
  color: var(--labelPrimary);
  font-style: normal;
  background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

h1 {
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(36, 127, 163), rgb(90, 191, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h3 {
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  background: -webkit-linear-gradient(rgb(40, 20, 94), rgb(90, 191, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
}

.modal-text {
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

ul {
  /* padding-top: 5px; */
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
}

label {
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  color:rgb(40, 20, 94);
}

p {
  padding-bottom: 15px;
}

p:last-of-type {
  padding-bottom: 0;
}

img {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-block-end: 5px;
}

.flex-container-home {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.containerChild {
  display: flex;
  flex-direction: column;
  order: 5; 
}

.button {
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  width: 15%;
  display: center;
  padding: 10px;
  margin-left: 100px;
  background: linear-gradient(to right, #e1e0ff, #d7fadd);
  color: var(--labelPrimary);
}

.form-control, .inputField{
  max-width: 35%;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}


.inputField{
    max-width: 33%;
    height: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  